.close-button {
	display: inline-block;
	cursor: pointer;
	margin: 10px;
}
.close-button .bar1,
.close-button .bar2 {
	width: 25px;
	height: 3px;
	background-color: #ffffff;
	float: none;
}
.close-button .bar1 {
	transform: translate(0, 9px) rotate(45deg);
}
.close-button .bar2 {
	transform: translate(0, 6px) rotate(-45deg);
}
