.close-button {
	display: inline-block;
	cursor: pointer;
	margin: 10px;
}
.bar1,
.bar2 {
	width: 25px;
	height: 3px;
	background-color: #ffffff;
	float: none;
}
.bar1 {
	transform: translate(0, 3.5px) rotate(45deg);
}
.bar2 {
	transform: translate(0, -3.5px) rotate(-45deg);
}
