
.education-card {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.education-card >* {
  text-align: left;
}
.education-card * {
  margin: 0;
}

.date{
  flex: 0;
}

.separator {
  width: 2px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 6px;
}