
.experience-card, .experience-card * {
  transition: 0s;
}

.experience-card {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.experience-card >* {
  text-align: left;
}
.experience-card * {
  margin: 0;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}