.project-card,
.project-card-expanded,
.project-card *,
.project-card-expanded * {
	transition: 1s;
	padding: 0;
	margin: 0;
	color: white;
}

.project-card,
.project-card-expanded {
	display: grid;
	flex: content;
	margin: 3px;
	min-height: 300px;
	min-width: 200px;
	flex: 1 1 350px;
}

.project-card {
	height: 300px;
}

.project-background {
	background-size: cover;
	filter: brightness(0.7);
	grid-column: 1;
	grid-row: 1;
}
.project-card-expanded .project-background {
	filter: brightness(0.4);
}

.project-card .project-content, .project-card-expanded .project-content {
	height:inherit;
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-row: 1;
	grid-column: 1;
	margin-bottom: 10px;
	z-index: 1;
}
.project-card-expanded .project-content {
	padding: 20px;
	height: auto;
}

.project-content header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.project-content header :not(h1) {
	opacity: 0;
}
.project-card-expanded .project-content header :not(h1) {
	opacity: 1;
}

.project-content header h1 {
	flex: 0;
	text-align: right;
}

.project-content p {
	transition: 2s;
	width: 70%;
	text-align: right;
	overflow: hidden;
	opacity: 0;
	transition: 300ms;
}

.link-list {
	text-decoration: none;
}

.tags {
	flex: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.tags > * {
	color: transparent;
	padding: 3px;
	margin: 3px;
	font-weight: bold;
	border: 1px solid rgb(227, 178, 191);
	border-radius: 6px;
	background: linear-gradient(
			to bottom right,
			rgb(248, 223, 206),
			rgb(227, 178, 191),
			rgb(197, 138, 172),
			rgb(167, 104, 160)
		),
		linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
	background-clip: text, padding-box;
	-webkit-background-clip: text, padding-box;
}

.project-card .project-content:hover h1 {
	transform: translate(-5px, 5px);
	color: rgb(99, 196, 245);
	transition: 200ms;
}
.project-card .project-content:hover .tags {
	transform: translate(-5px, -5px);
	color: rgb(99, 196, 245);
	transition: 200ms;
}

.project-card-expanded .project-content p {
	opacity: 1;
}

.project-card-expanded {
	flex: 0 1 100%;
	min-height: 90vh;
}

@media (max-width: 700px) {
	.project-card-expanded .project-content p {
		width: 100%;
		text-align: left;
	}
}
