@import 'Root.css';

.App {
	font-family: 'Courier New', Courier, monospace;
	color: var(--on-primary);
	background-color: var(--gradient-10);
	max-width: 100vw;
	min-height: 100vh;
}
h1 {
	margin-bottom: 0;
	font-size: 40px;
}
h2 {
	margin: 0;
	font-size: 26px;
}
