@property --x {
	syntax: '<percentage>';
	inherits: false;
  initial-value: 0%;
}
@property --y {
	syntax: '<percentage>';
	inherits: false;
  initial-value: 0%;
}
@property --s {
  syntax: '<length>';
  inherits: false;
  initial-value: 900px;
}

@keyframes cool-background {
	0% {
		--x: 85%;
		--y: 10%;
    --s: 900px;
	}
  33% {
    --x:75%;
    --y: 15%;
    --s: 1200px;
  }
  66% {
    --x: 90%;
    --y: 20%;
    --s: 1000px;
  }
	100% {
		--x: 85%;
		--y: 10%;
    --s: 900px;
	}
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: white;
	min-height: 100vh;
	font-family: 'Courier New', Courier, monospace;
	--x: 85%;
	--y: 10%;
  --s: 900px;
	background-image: radial-gradient(
		var(--s) at var(--x) var(--y),
		rgb(227, 178, 191),
		rgb(197, 138, 172),
		rgb(167, 104, 160),
		rgb(120, 74, 139),
		rgb(72, 53, 116),
		rgb(41, 37, 94)
	);
	animation: cool-background 5s ease-in infinite;
	background-color: rgb(45, 47, 81);
}

h1 {
	margin-bottom: 0;
	font-size: 40px;
}
h2 {
	margin: 0;
	font-size: 26px;
}
