section {
  flex: 1;
  display: flex;
  width: 100%;
}
section > * {
  flex: 1;
  padding: 20px;
}
.link-div {
  background-color: rgb(76, 110, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
/* Contact box on the left */
.link-div h1 {
  font-size: 40px;
  margin-bottom: 0;
}
.link-div ul {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  width: fit-content;
  list-style: none;
  border-radius: 8px;
}
.link-div ul li {
  font-size: 18px;
  text-align: right;
  margin: 8px;
}
.link-div ul li * {
  color: black;
  text-decoration: none;
}
/* Text and feedback on the right*/
.feedback-div {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.feedback-div h1,
.feedback-div p {
  width: 50%;
  text-align: left;
  margin: 0;
}
.feedback-div textarea {
  width: 50%;
  margin-top: 20px;
  font-size: 16px;
}
.feedback-div .submit-button {
  width: fit-content;
  margin: 10px;
}
@media (max-width: 900px) {
  section {
    flex-direction: column;
  }
  .link-div, .feedback-div {
    align-items: center;
    justify-self: center;
    text-align: center;
  }

}
