.home-content {
	width: calc(100% - 88px);
}

.home-content * {
	transition: 200ms;
}

.introduction {
	display: flex;
	padding: 20px;
	height: 400px;
	align-items: center;
	justify-content: space-around;
}

.intro-text {
	text-align: left;
}
.intro-text * {
	width: fit-content;
	cursor: default;
}