@keyframes ripple {
    0% {
        background-color:white;
    }
    100% {
        background-color: rgb(212, 208, 239);
    }
}

.navbar {
    width: 100%;
    display: block;
}

.navbar * {
    float: right;
    text-decoration: none;
    color: black;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}


.navbar *:hover {
    background-color: rgb(212, 208, 239);
    animation-name: ripple;
    animation-duration: 1s;
}

.navbar .title {
    float:left;
    font-size:20px;
}