.navbar {
	z-index: 2;
	flex: 0;
	width: 100%;
}

.navbar * {
	text-decoration: none;
	padding: 5px;
	font-size: 16px;
	float: left;
	color: inherit;
}

.nav-items {
	float: right;
}
.nav-items * {
	transition: 200ms;
	text-align: center;
}
.nav-items *:hover {
	transform: translate(0,-2px);
	color: rgb(99, 196, 245);
}


@media (max-width: 700px) {
	.navbar {
		display: flex;
		flex-direction: column;
	}
	.nav-items {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		width: 100%;
    overflow: hidden;
    transition: .2s;
	}
}
